@import '../../../shared/variables';

.relay-label {

}

.relay-state {
  text-transform: uppercase;
  font-size: 2.1em;
  font-weight: 400;

  &.on {
    color: $green;
    content: "ON";
  }

  &.off {
    color: $red;
    content: "OFF";
  }
}

app-spinner {
  height: 46px;
}
