@import '../../shared/variables';

.login-container {
  background-color: $red;
  border-radius: 25px;
  padding: 40px;
  max-width: 330px;
  width: 40%;
  min-width: 280px;
  margin: 15vh auto 0 auto;

  .form-title {
    font-size: 1.6em;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }

  .login-button {
    background-color: #950029;
    color: white;
    text-align: center;
    display: block;
    width: 100%;
  }

  .password-link {
    text-decoration: underline;
    display: inline-block;
    margin-top: 10px;
    font-size: 0.9em;
  }
}
