@import '../../../shared/variables';

.connection-status {
  background-color: $green;
  padding: 4px 10px;
  font-size: 14px;
  color: white;
  border-radius: 4px;

  &.error {
     background-color: $red;
   }
}
