/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
@import './shared/variables';

body {
  background-color: $darkgrey;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.form-control, .btn {
  border-radius: 0;
}

app-spinner {
  display: inline-block;
  //width: 100px;
}
